<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>bank-website</title>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- script of bootstrap -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
    <!-- google fonts  -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,200&family=Ubuntu&display=swap"
        rel="stylesheet">

    <!-- font awesome  -->


    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
        integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous" />

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</head>

<body>
    <section id="title">
        <div class="container-fluid">
            <nav class="navbar navbar-custom navbar-expand-lg navbar-light">
                <a class="navbar-brand text-white" href="#">
                    <img class="logo-image" src="/static/images/LOGO.png">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                    aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <ul class="navbar-nav ms-auto ">
                        <li class="nav-item">
                            <a class=" nav-link active text-light" href="/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" href="#">Contact</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" href="/transaction">login</a>
                        </li>
                        <li class="nav-item">
                            <a class=" nav-link text-light" href="#">help</a>
                        </li>
                    </ul>

                </div>
            </nav>
            <div class="row">
                <div class="col-lg-6">
                    <div class="left-title-container">
                        <h1 class="big-heading ">What is POGIL?</h1>
                        <p class="title-paragraph">
                            POGIL is an acronym for Process Oriented Guided Inquiry Learning. It is a student-centered,
                            group-learning instructional strategy and philosophy developed through research on how
                            students learn best.
                        </p>
                        <button type="button" class="btn btn-primary btn-lg download-button" href="">
                            <a class="login-button"
                                href="https://en.wikipedia.org/wiki/POGIL#:~:text=Process%20Oriented%20Guided%20Inquiry%20Learning,to%20better%20teach%20general%20chemistry.">Read
                                more</a>
                        </button>


                    </div>


                </div>
                <div class="col-lg-6">
                    <div class="image-container pb-5">
                        <img class="image-title " src="/static/images/image-4.jpg" alt="Image">
                    </div>
                </div>
            </div>

        </div>

    </section>
    <section id="customer-section-1">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6">
                    <img class="image-title " src="/static/images/image-1.jpg">
                </div>
                <div class="col-lg-6">
                    <div class="customer-container">
                        <h1 class="big-heading">POGIL Pedagogy</h1>
                        <p>


                            A POGIL classroom consists of students working in small, self-managed teams on specially
                            designed guided inquiry materials.These materials supply students with data or information
                            to interpret, followed by guiding questions designed to lead them toward formulation of
                            their own valid conclusions—essentially a recapitulation of the scientific method.
                            POGIL is an interactive process of refining one’s understanding and developing one's skills
                            for the workplace as a component of the student learning process. The ability to engage in
                            these processes is crucial for students to succeed in active learning environments.
                        </p>
                        <button type="button" class="btn btn-primary btn-lg"><a class="login-button"
                                href="/powerbi"> View Data Analysis </a></button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="customer-section-2">
        <div class="container-fluid">
            <div class="row">

                <div class="col-lg-6">
                    <div class="customer-container">
                        <h1 class="big-heading">Admittance Prediction</h1>
                        <p>
                            Predict the admittance of the student with POGIL methodology in the JEE results.
                        </p>
                        <button type="button" class="btn btn-primary btn-lg"><a class="login-button" href="/predict">View
                                customer</a></button>
                    </div>
                </div>
                <div class="col-lg-6">
                    <img class="image-title " src="/static/images/image-2.jpg">
                </div>
            </div>
        </div>
    </section>
    <section id="pricing">

        <h2>What Services you will Get from me!</h2>
        <p>Simple and affordable price plans for you</p>
        <div class="row">
            <div class=" pricing-coloum col-lg-4  col-md-6">
                <div class="card card-border">

                    <img class="card-img-top" src="/static/images/card-1.jpg" alt="Card image cap">

                    <div class="card-body">
                        <h2 class="big-heading">About Pogil</h2>
                        <p>
                            The effectiveness of POGIL has been assessed at a range of institutions and for a variety of
                            courses.Many instructors have compared their final grades or specific exam grades with and
                            without POGIL implementation. In general the withdrawals and D or F grades have decreased
                            while the A, B and C grades increased.

                        </p>

                        <a href="https://pogil.org/about-pogil/effectiveness-of-pogil"
                            class="btn btn-lg w-100 btn-primary">Read more</a>

                    </div>
                </div>
            </div>
            <div class="pricing-coloum col-lg-4 col-md-6">
                <div class="card card-border">
                    <img class="card-img-top" src="/static/images/card-2.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h2 class="big-heading">Educators</h2>
                        <p>

                            "(Since I implemented POGIL) I've come to know my students better than ever and the class is
                            always fresh. My students are active and engaged and frequently don't want to leave at the
                            end of class. Students have become less afraid of frustration and are willing to try and
                            figure things out on their own.
                        </p>

                        <a href="https://pogil.org/what-they-are-saying" class="btn btn-lg w-100 btn-primary">Read
                            more</a>
                    </div>
                </div>
            </div>
            <div class="pricing-coloum col-lg-4  col-md-12">
                <div class="card card-border">
                    <img class="card-img-top" src="/static/images/card-3.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h2 class="big-heading">Workshops</h2>
                        <p>
                            The POGIL Project is grateful for the support of the National Science Foundation, the
                            Department of Education, the Hach Scientific Foundation, Google Education and University
                            Relations Fund of TIDES Foundation, Merle Robbins, Franklin & Marshall College, and the
                            Toyota USA Foundation.
                        </p>

                        <a href="https://pogil.org/workshops-events/events" class="btn btn-lg w-100 btn-primary">Read
                            more</a>
                    </div>
                </div>
            </div>


        </div>

    </section>
    <!-- footer section  -->
    <section id="footersection">
        <!-- Footer -->
        <footer class="page-footer font-small mdb-color pt-4">

            <!-- Footer Links -->
            <div class="container text-center text-md-left">

                <!-- Footer links -->
                <div class="row text-center text-md-left mt-3 pb-3">

                    <!-- Grid column -->
                    <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
                        <h6 class="text-uppercase mb-4 font-weight-bold">Company name</h6>
                        <p>Here you can use rows and columns to organize your footer content. Lorem ipsum dolor sit
                            amet,
                            consectetur
                            adipisicing elit.</p>
                    </div>
                    <!-- Grid column -->

                    <hr class="w-100 clearfix d-md-none">

                    <!-- Grid column -->
                    <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
                        <h6 class="text-uppercase mb-4 font-weight-bold">Products</h6>
                        <p>
                            <a class="footer-link" href="#!">MDBootstrap</a>
                        </p>
                        <p>
                            <a class="footer-link" href="#!">MDWordPress</a>
                        </p>
                        <p>
                            <a class="footer-link" href="#!">BrandFlow</a>
                        </p>
                        <p>
                            <a class="footer-link" href="#!">Bootstrap Angular</a>
                        </p>
                    </div>
                    <!-- Grid column -->

                    <hr class="w-100 clearfix d-md-none">

                    <!-- Grid column -->
                    <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
                        <h6 class="text-uppercase mb-4 font-weight-bold">Useful links</h6>
                        <p>
                            <a class="footer-link" href="#!">Your Account</a>
                        </p>
                        <p>
                            <a class="footer-link" href="#!">Become an Affiliate</a>
                        </p>
                        <p>
                            <a class="footer-link" href="#!">Shipping Rates</a>
                        </p>
                        <p>
                            <a class="footer-link" href="#!">Help</a>
                        </p>
                    </div>

                    <!-- Grid column -->
                    <hr class="w-100 clearfix d-md-none">

                    <!-- Grid column -->
                    <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
                        <h6 class="text-uppercase mb-4 font-weight-bold">Contact</h6>
                        <p>
                            <i class="fas fa-home mr-3"></i> Mumbai,400604, India
                        </p>
                        <p>
                            <i class="fas fa-envelope mr-3"></i> 2020.priyanshu.singh@ves.ac.in
                        </p>
                        <p>
                            <i class="fas fa-phone mr-3"></i> + 9082035567
                        </p>

                    </div>
                    <!-- Grid column -->

                </div>
                <!-- Footer links -->

                <hr>

                <!-- Grid row -->
                <div class="row d-flex align-items-center">

                    <!-- Grid column -->
                    <div class="col-md-7 col-lg-8">

                        <!--Copyright-->
                        <p class="text-center text-md-left">© 2020 Copyright@priyanshu

                        </p>

                    </div>
                    <!-- Grid column -->

                    <!-- Grid column -->
                    <div class="col-md-5 col-lg-4 ml-lg-0">

                        <!-- Social buttons -->
                        <div class="text-center text-md-right">
                            <ul class="list-unstyled list-inline">
                                <li class="list-inline-item">
                                    <a class="footer-link btn-floating btn-sm rgba-white-slight mx-1">
                                        <i class="fab fa-facebook-f"></i>
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a class="footer-link btn-floating btn-sm rgba-white-slight mx-1">
                                        <i class="fab fa-twitter"></i>
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a class="footer-link btn-floating btn-sm rgba-white-slight mx-1">
                                        <i class="fab fa-google-plus-g"></i>
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a class="footer-link btn-floating btn-sm rgba-white-slight mx-1">
                                        <i class="fab fa-linkedin-in"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>

                    </div>
                    <!-- Grid column -->

                </div>
                <!-- Grid row -->

            </div>
            <!-- Footer Links -->

        </footer>
        <!-- Footer -->
    </section>

</body>

</html>